<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        img{
            width: 400px;
        }
    </style>
</head>
<body>
<img src="{% static 'images/company/微信截图_20191003162656.png' %}" alt="">
<img src="{% static 'images/company/微信截图_20191003162710.png' %}" alt="">
<img src="{% static 'images/company/微信截图_20191003162725.png' %}" alt="">
<img src="{% static 'images/company/微信截图_20191003162834.png' %}" alt="">
</body>
</html>