<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/wushu_introduce/wushu_introduce.min.css' %}">
    <title>武术介绍</title>
</head>
<body>
    <div class="content-group">
        <span class="title">源远流长</span>
        <img src="{% static 'images/wushu/摄图网_500881716_wx.jpg' %}" alt="">
        <div>
            <span class="content">
            中华武术是中国传统文化的重要组成部分，四大国粹之一。至今已有几千年的历史，它萌芽于原始社会，又孕育在中国几千年的历史长河中，并不断演变，创新，完善，流传于世。形成了今天的众多武术种类和派别，如拳、剑、枪、棍、内功、外功等种类，少林、武当、峨眉等派别。同时涌现出了众多的家喻户晓、世代相传、受世人敬仰的武术大家。近现代，南有洪拳大师、岭南武术界的一代宗师黄飞鸿及精武门英雄霍元甲，北有太极大师孙禄堂，形意拳大师李氏三杰……
        </span>
        </div>

    </div>
    <div class="content-group">
        <span class="title">内外兼修</span>
        <img src="{% static 'images/wushu/摄图网_500885757_wx.jpg' %}" alt="">
        <span class="content">
            武，强健体魄；术，尊师重道；武德包括十个方面：武德高、武旨正、武纪严、武风良、武礼谦、武志坚、.武学勤、武技精、武仪端、武境美。武术要求精神、意、气与动作内外相合，所以它不仅是形体上的锻炼，而且能够使身心得到全面的锻炼。俗话说“外练筋骨皮，内练一口气”，这都是中华武术内外兼修的经典描述。通过武术学习，接受中华传统文化的熏陶，培养武术精神，民族精神，爱国情怀。
        </span>
    </div>
    <div class="content-group">
        <span class="title">传承发展</span>
        <img src="{% static 'images/wushu/摄图网_500887880_wx.jpg' %}" alt="">
        <span class="content">
            实现中华民族伟大复兴的中国梦想，需要靠全中国各族人民的共同努力，特别是青少年一代，因为他们是中华民族的希望和未来。中华民族要强盛，则需少年强。因为少年强，则国强，少年智，则国智，少年进步，则国进步，少年雄于地球，则国雄于地球。 让他们强身健体的同时，深刻的认识和感知中华传统武术的博大精深，领悟中华传统文化的精髓，领悟中华民族精神，爱国精神。将他们培养成为能肩负起实现中华民族伟大复兴的中国梦的一代新人，所以，为此我们任重道远。
        </span>

    </div>
</body>
</html>